@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary: #FBF0B2;
$secondary: #FFC7EA;
$light: #D8B4F8;
$dark: #CAEDFF;

$custom-colors: (
    "background": #D0BFFF,
    "white": #ffff,

);


$theme-colors: (
  "primary" :$primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$theme-colors: map-merge($theme-colors, $custom-colors)